@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;

    .spinner {
        width: 40px;
        height: 40px;
        border: 10px solid #e0dfdf;
        border-top: 10px solid #01125c;
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
    }
}
